matrix:
  include:
    - scala: 2.11.11
      language: scala
      jdk: oraclejdk8
      env: PLATFORM="jvm"
      #script: sbt "++2.11.11" coverage coreJVM/test doc mimaReportBinaryIssues coverageReport && codecov
      script: sbt "++2.11.11" coverage coreJVM/test doc coverageReport && codecov

    - scala: 2.11.11
      language: scala
      jdk: oraclejdk8
      env: PLATFORM="js"
      script: sbt "++2.11.11" coreJS/test

    - scala: 2.12.3
      language: scala
      jdk: oraclejdk8
      env: PLATFORM="jvm"
      #script: sbt "++2.12.3" coverage coreJVM/test doc mimaReportBinaryIssues coverageReport && codecov
      script: sbt "++2.12.3" coverage coreJVM/test doc coverageReport && codecov

    - scala: 2.12.3
      language: scala
      jdk: oraclejdk8
      env: PLATFORM="js"
      script: sbt "++2.12.3" coreJS/test

install:
 - pip install --user codecov

cache:
  directories:
  - $HOME/.sbt/0.13/dependency
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
  - $HOME/.nvm

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
